<a href="https://colab.research.google.com/github/DAASHeo/Contents_Bigdata/blob/main/0914.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

name = input("이름을 입력해주세요")
print("Hello World",name)

텍스트를 추가할 수 있다.

In [5]:
!pip install pandas numpy matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)

In [21]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [25]:
names = ['hyuna', 'dun', 'yoong', 'suji', 'yoouna']
births = [959 , 34029, 34, 343, 2423]
custom = [1,5,10,20,34]

DataSet = list(zip(names,births))
df = pd.DataFrame(data = DataSet, columns=['Name','Births'])
df.head()

     Name  Births
0   hyuna     959
1     dun   34029
2   yoong      34
3    suji     343
4  yoouna    2423